In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV
from sklearn.dummy import DummyClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from imblearn.over_sampling import SMOTE
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score, plot_confusion_matrix, plot_roc_curve
from sklearn.tree import plot_tree

import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
crashes = pd.read_csv("data/Traffic_Crashes_-_Crashes.csv")

In [3]:
people = pd.read_csv("data/Traffic_Crashes_-_People.csv")

In [4]:
vehicles = pd.read_csv("data/Traffic_Crashes_-_Vehicles.csv")

In [5]:
crashes.shape

(684836, 49)

In [6]:
people.shape

(1501548, 30)

In [7]:
vehicles.shape

(1395613, 72)

In [8]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684836 entries, 0 to 684835
Data columns (total 49 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                684836 non-null  object
 1   RD_NO                          681502 non-null  object
 2   CRASH_DATE_EST_I               51964 non-null   object
 3   CRASH_DATE                     684836 non-null  object
 4   POSTED_SPEED_LIMIT             684836 non-null  int64
 5   TRAFFIC_CONTROL_DEVICE         684836 non-null  object
 6   DEVICE_CONDITION               684836 non-null  object
 7   WEATHER_CONDITION              684836 non-null  object
 8   LIGHTING_CONDITION             684836 non-null  object
 9   FIRST_CRASH_TYPE               684836 non-null  object
 10  TRAFFICWAY_TYPE                684836 non-null  object
 11  LANE_CNT                       198997 non-null  float64
 12  ALIGNMENT                      684836 non-null  object
 13  ROADWAY_SURFACE_COND           684836 non-null  object
 14  ROAD_DEFECT                    684836 non-null  object
 15  REPORT_TYPE                    666178 non-null  object
 16  CRASH_TYPE                     684836 non-null  object
 17  INTERSECTION_RELATED_I         156897 non-null  object
 18  NOT_RIGHT_OF_WAY_I             32101 non-null   object
 19  HIT_AND_RUN_I                  212349 non-null  object
 20  DAMAGE                         684836 non-null  object
 21  DATE_POLICE_NOTIFIED           684836 non-null  object
 22  PRIM_CONTRIBUTORY_CAUSE        684836 non-null  object
 23  SEC_CONTRIBUTORY_CAUSE         684836 non-null  object
 24  STREET_NO                      684836 non-null  int64
 25  STREET_DIRECTION               684832 non-null  object
 26  STREET_NAME                    684835 non-null  object
 27  BEAT_OF_OCCURRENCE             684831 non-null  float64
 28  PHOTOS_TAKEN_I                 8478 non-null    object
 29  STATEMENTS_TAKEN_I             14297 non-null   object
 30  DOORING_I                      2123 non-null    object
 31  WORK_ZONE_I                    4022 non-null    object
 32  WORK_ZONE_TYPE                 3156 non-null    object
 33  WORKERS_PRESENT_I              1044 non-null    object
 34  NUM_UNITS                      684836 non-null  int64
 35  MOST_SEVERE_INJURY             683344 non-null  object
 36  INJURIES_TOTAL                 683355 non-null  float64
 37  INJURIES_FATAL                 683355 non-null  float64
 38  INJURIES_INCAPACITATING        683355 non-null  float64
 39  INJURIES_NON_INCAPACITATING    683355 non-null  float64
 40  INJURIES_REPORTED_NOT_EVIDENT  683355 non-null  float64
 41  INJURIES_NO_INDICATION         683355 non-null  float64
 42  INJURIES_UNKNOWN               683355 non-null  float64
 43  CRASH_HOUR                     684836 non-null  int64
 44  CRASH_DAY_OF_WEEK              684836 non-null  int64
 45  CRASH_MONTH                    684836 non-null  int64
 46  LATITUDE                       680493 non-null  float64
 47  LONGITUDE                      680493 non-null  float64
 48  LOCATION                       680493 non-null  object
dtypes: float64(11), int64(6), object(32)
memory usage: 256.0+ MB

### Dropping Unneccessary Columns

In [9]:
#dropping columns either not relevant, or duplicate.
crashes_drop = crashes[['CRASH_DATE', 'CRASH_HOUR','RD_NO', 
                        'CRASH_DATE_EST_I', 'DATE_POLICE_NOTIFIED','TRAFFIC_CONTROL_DEVICE',
                        'DEVICE_CONDITION', 'STREET_NO',
                        'STREET_DIRECTION', 'STREET_NAME', 'BEAT_OF_OCCURRENCE',
                        'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 
                        'DOORING_I', 'WORK_ZONE_I', 'WORK_ZONE_TYPE', 'WORKERS_PRESENT_I',
                        'LANE_CNT','REPORT_TYPE', 'CRASH_MONTH','LATITUDE',
                        'LONGITUDE','LOCATION','INJURIES_TOTAL','INJURIES_FATAL', 
                        'INJURIES_INCAPACITATING','INJURIES_NON_INCAPACITATING',
                        'INJURIES_REPORTED_NOT_EVIDENT','INJURIES_NO_INDICATION', 
                        'INJURIES_UNKNOWN','CRASH_MONTH','TRAFFICWAY_TYPE',
                        'NOT_RIGHT_OF_WAY_I','HIT_AND_RUN_I','INTERSECTION_RELATED_I']]

In [10]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501548 entries, 0 to 1501547
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1501548 non-null  object
 1   PERSON_TYPE            1501548 non-null  object
 2   CRASH_RECORD_ID        1501548 non-null  object
 3   RD_NO                  1494425 non-null  object
 4   VEHICLE_ID             1471946 non-null  float64
 5   CRASH_DATE             1501548 non-null  object
 6   SEAT_NO                303980 non-null   float64
 7   CITY                   1096629 non-null  object
 8   STATE                  1111104 non-null  object
 9   ZIPCODE                1002176 non-null  object
 10  SEX                    1478107 non-null  object
 11  AGE                    1065042 non-null  float64
 12  DRIVERS_LICENSE_STATE  882647 non-null   object
 13  DRIVERS_LICENSE_CLASS  747164 non-null   object
 14  SAFETY_EQUIPMENT       1497269 non-null  object
 15  AIRBAG_DEPLOYED        1473112 non-null  object
 16  EJECTION               1483237 non-null  object
 17  INJURY_CLASSIFICATION  1500891 non-null  object
 18  HOSPITAL               259397 non-null   object
 19  EMS_AGENCY             161474 non-null   object
 20  EMS_RUN_NO             26538 non-null    object
 21  DRIVER_ACTION          1194845 non-null  object
 22  DRIVER_VISION          1194410 non-null  object
 23  PHYSICAL_CONDITION     1195685 non-null  object
 24  PEDPEDAL_ACTION        28044 non-null    object
 25  PEDPEDAL_VISIBILITY    27988 non-null    object
 26  PEDPEDAL_LOCATION      28041 non-null    object
 27  BAC_RESULT             1195846 non-null  object
 28  BAC_RESULT VALUE       1803 non-null     float64
 29  CELL_PHONE_USE         1158 non-null     object
dtypes: float64(4), object(26)
memory usage: 343.7+ MB

In [11]:
 #dropping columns either not relevant, or duplicate.
people_drop = people[['RD_NO', 'CRASH_DATE', 'CITY', 'STATE', 'ZIPCODE', 'DRIVERS_LICENSE_STATE', 
                      'DRIVERS_LICENSE_CLASS','HOSPITAL', 'EMS_AGENCY', 'EMS_RUN_NO',
                      'DRIVER_ACTION', 'DRIVER_VISION','PHYSICAL_CONDITION', 'PEDPEDAL_ACTION',
                      'PEDPEDAL_VISIBILITY', 'PEDPEDAL_LOCATION', 'BAC_RESULT', 
                      'BAC_RESULT VALUE', 'CELL_PHONE_USE']]

In [12]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395613 entries, 0 to 1395612
Data columns (total 72 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CRASH_UNIT_ID             1395613 non-null  int64
 1   CRASH_RECORD_ID           1395613 non-null  object
 2   RD_NO                     1388852 non-null  object
 3   CRASH_DATE                1395613 non-null  object
 4   UNIT_NO                   1395613 non-null  int64
 5   UNIT_TYPE                 1393686 non-null  object
 6   NUM_PASSENGERS            206673 non-null   float64
 7   VEHICLE_ID                1363941 non-null  float64
 8   CMRC_VEH_I                26052 non-null    object
 9   MAKE                      1363936 non-null  object
 10  MODEL                     1363792 non-null  object
 11  LIC_PLATE_STATE           1240091 non-null  object
 12  VEHICLE_YEAR              1142136 non-null  float64
 13  VEHICLE_DEFECT            1363941 non-null  object
 14  VEHICLE_TYPE              1363941 non-null  object
 15  VEHICLE_USE               1363941 non-null  object
 16  TRAVEL_DIRECTION          1363941 non-null  object
 17  MANEUVER                  1363941 non-null  object
 18  TOWED_I                   170553 non-null   object
 19  FIRE_I                    1119 non-null     object
 20  OCCUPANT_CNT              1363941 non-null  float64
 21  EXCEED_SPEED_LIMIT_I      2397 non-null     object
 22  TOWED_BY                  127006 non-null   object
 23  TOWED_TO                  78182 non-null    object
 24  AREA_00_I                 49553 non-null    object
 25  AREA_01_I                 368896 non-null   object
 26  AREA_02_I                 225132 non-null   object
 27  AREA_03_I                 132631 non-null   object
 28  AREA_04_I                 134166 non-null   object
 29  AREA_05_I                 207846 non-null   object
 30  AREA_06_I                 216091 non-null   object
 31  AREA_07_I                 195324 non-null   object
 32  AREA_08_I                 208840 non-null   object
 33  AREA_09_I                 83215 non-null    object
 34  AREA_10_I                 120228 non-null   object
 35  AREA_11_I                 235291 non-null   object
 36  AREA_12_I                 231406 non-null   object
 37  AREA_99_I                 154409 non-null   object
 38  FIRST_CONTACT_POINT       1351636 non-null  object
 39  CMV_ID                    14626 non-null    float64
 40  USDOT_NO                  8352 non-null     object
 41  CCMC_NO                   1820 non-null     object
 42  ILCC_NO                   1276 non-null     object
 43  COMMERCIAL_SRC            9911 non-null     object
 44  GVWR                      8292 non-null     object
 45  CARRIER_NAME              14001 non-null    object
 46  CARRIER_STATE             13169 non-null    object
 47  CARRIER_CITY              12935 non-null    object
 48  HAZMAT_PLACARDS_I         285 non-null      object
 49  HAZMAT_NAME               53 non-null       object
 50  UN_NO                     503 non-null      object
 51  HAZMAT_PRESENT_I          10706 non-null    object
 52  HAZMAT_REPORT_I           10391 non-null    object
 53  HAZMAT_REPORT_NO          1 non-null        object
 54  MCS_REPORT_I              10450 non-null    object
 55  MCS_REPORT_NO             7 non-null        object
 56  HAZMAT_VIO_CAUSE_CRASH_I  10551 non-null    object
 57  MCS_VIO_CAUSE_CRASH_I     10352 non-null    object
 58  IDOT_PERMIT_NO            818 non-null      object
 59  WIDE_LOAD_I               124 non-null      object
 60  TRAILER1_WIDTH            2657 non-null     object
 61  TRAILER2_WIDTH            320 non-null      object
 62  TRAILER1_LENGTH           2163 non-null     float64
 63  TRAILER2_LENGTH           65 non-null       float64
 64  TOTAL_VEHICLE_LENGTH      2631 non-null     float64
 65  AXLE_CNT                  3885 non-null     float64
 66  VEHICLE_CONFIG            12130 non-null    object
 67  CARGO_BODY_TYPE           11602 non-null    object
 68  LOAD_TYPE                 11096 non-null    object
 69  HAZMAT_OUT_OF_SERVICE_I   10079 non-null    object
 70  MCS_OUT_OF_SERVICE_I      10327 non-null    object
 71  HAZMAT_CLASS              973 non-null      object
dtypes: float64(9), int64(2), object(61)
memory usage: 766.6+ MB

In [13]:
#dropping columns either not relevant, or duplicate.
vehicles_drop = vehicles[['RD_NO', 'CRASH_DATE', 'LIC_PLATE_STATE', 'AREA_00_I', 'AREA_01_I', 
                                       'AREA_02_I', 'AREA_03_I','AREA_04_I','AREA_05_I','AREA_06_I','AREA_07_I',
                                       'AREA_08_I','AREA_09_I','AREA_10_I','AREA_11_I','AREA_12_I','AREA_99_I',
                                       'CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO', 'COMMERCIAL_SRC', 'GVWR',
                                       'CARRIER_NAME', 'CARRIER_CITY', 'HAZMAT_PLACARDS_I',
                                       'HAZMAT_NAME', 'UN_NO','HAZMAT_PRESENT_I', 'HAZMAT_REPORT_I', 
                                       'HAZMAT_REPORT_NO', 'MCS_REPORT_I', 'IDOT_PERMIT_NO',
                                       'WIDE_LOAD_I', 'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 'TRAILER1_LENGTH', 
                                       'TRAILER2_LENGTH', 'TOTAL_VEHICLE_LENGTH', 'AXLE_CNT',
                                       'LOAD_TYPE', 'HAZMAT_OUT_OF_SERVICE_I', 'MCS_OUT_OF_SERVICE_I', 
                                       'HAZMAT_CLASS', 'MAKE', 'MODEL', 'VEHICLE_YEAR', 'VEHICLE_DEFECT', 
                                       'VEHICLE_CONFIG', 'CARGO_BODY_TYPE', 'TOWED_BY', 
                                       'TOWED_I', 'CARRIER_STATE',
                                       'FIRE_I', 'MCS_REPORT_NO','HAZMAT_VIO_CAUSE_CRASH_I',
                                       'MCS_VIO_CAUSE_CRASH_I', 'TOWED_TO',
                                       'CMRC_VEH_I','VEHICLE_ID', 'OCCUPANT_CNT', 'NUM_PASSENGERS',
                                       'TRAVEL_DIRECTION', 'MANEUVER',
                                       'VEHICLE_USE', 'CRASH_UNIT_ID', 'UNIT_TYPE']]

In [14]:
 #dropping columns either not relevant, or duplicate.
crashes.drop(columns=crashes_drop, inplace=True)
vehicles.drop(columns=vehicles_drop, inplace=True)
people.drop(columns=people_drop, inplace=True)

### Merging Datasets on the Crash_Record_ID Column

In [30]:
#Merging Datasets on the Crash_Record_ID Column
merge = pd.merge(crashes, vehicles, on='CRASH_RECORD_ID')
df_merge = pd.merge(merge, people, on='CRASH_RECORD_ID')

### Previewing shape, data and info

In [31]:
# previewing shape, data and info 
df_merge.head()

,CRASH_RECORD_ID,POSTED_SPEED_LIMIT,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,ALIGNMENT,ROADWAY_SURFACE_COND,ROAD_DEFECT,CRASH_TYPE,DAMAGE,...,PERSON_ID,PERSON_TYPE,VEHICLE_ID,SEAT_NO,SEX,AGE,SAFETY_EQUIPMENT,AIRBAG_DEPLOYED,EJECTION,INJURY_CLASSIFICATION
0,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,30,CLEAR,DAYLIGHT,TURNING,STRAIGHT AND LEVEL,DRY,NO DEFECTS,INJURY AND / OR TOW DUE TO CRASH,"OVER $1,500",...,P138006,PASSENGER,582401.0,4.0,F,27.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY
1,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,30,CLEAR,DAYLIGHT,TURNING,STRAIGHT AND LEVEL,DRY,NO DEFECTS,INJURY AND / OR TOW DUE TO CRASH,"OVER $1,500",...,O611178,DRIVER,582401.0,NaN,F,22.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,"REPORTED, NOT EVIDENT"
2,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,30,CLEAR,DAYLIGHT,TURNING,STRAIGHT AND LEVEL,DRY,NO DEFECTS,INJURY AND / OR TOW DUE TO CRASH,"OVER $1,500",...,O611179,DRIVER,582411.0,NaN,M,56.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY
3,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,30,CLEAR,DAYLIGHT,TURNING,STRAIGHT AND LEVEL,DRY,NO DEFECTS,INJURY AND / OR TOW DUE TO CRASH,"OVER $1,500",...,P138006,PASSENGER,582401.0,4.0,F,27.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY
4,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,30,CLEAR,DAYLIGHT,TURNING,STRAIGHT AND LEVEL,DRY,NO DEFECTS,INJURY AND / OR TOW DUE TO CRASH,"OVER $1,500",...,O611178,DRIVER,582401.0,NaN,F,22.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,"REPORTED, NOT EVIDENT"

In [21]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3147856 entries, 0 to 3147855
Data columns (total 30 columns):
 #   Column                   Dtype
---  ------                   -----
 0   index                    int64
 1   CRASH_RECORD_ID          object
 2   POSTED_SPEED_LIMIT       int64
 3   WEATHER_CONDITION        object
 4   LIGHTING_CONDITION       object
 5   FIRST_CRASH_TYPE         object
 6   ALIGNMENT                object
 7   ROADWAY_SURFACE_COND     object
 8   ROAD_DEFECT              object
 9   CRASH_TYPE               object
 10  DAMAGE                   object
 11  PRIM_CONTRIBUTORY_CAUSE  object
 12  SEC_CONTRIBUTORY_CAUSE   object
 13  NUM_UNITS                int64
 14  MOST_SEVERE_INJURY       object
 15  CRASH_DAY_OF_WEEK        int64
 16  UNIT_NO                  int64
 17  VEHICLE_TYPE             object
 18  EXCEED_SPEED_LIMIT_I     object
 19  FIRST_CONTACT_POINT      object
 20  PERSON_ID                object
 21  PERSON_TYPE              object
 22  VEHICLE_ID               float64
 23  SEAT_NO                  float64
 24  SEX                      object
 25  AGE                      float64
 26  SAFETY_EQUIPMENT         object
 27  AIRBAG_DEPLOYED          object
 28  EJECTION                 object
 29  INJURY_CLASSIFICATION    object
dtypes: float64(3), int64(5), object(22)
memory usage: 720.5+ MB

### Calculating nulls

In [32]:
# calculating nulls
nulls = df_merge.isna().sum()
nulls

CRASH_RECORD_ID                  0
POSTED_SPEED_LIMIT               0
WEATHER_CONDITION                0
LIGHTING_CONDITION               0
FIRST_CRASH_TYPE                 0
ALIGNMENT                        0
ROADWAY_SURFACE_COND             0
ROAD_DEFECT                      0
CRASH_TYPE                       0
DAMAGE                           0
PRIM_CONTRIBUTORY_CAUSE          0
SEC_CONTRIBUTORY_CAUSE           0
NUM_UNITS                        0
MOST_SEVERE_INJURY              21
CRASH_DAY_OF_WEEK                0
UNIT_NO                          0
VEHICLE_TYPE                 72904
EXCEED_SPEED_LIMIT_I       3141736
FIRST_CONTACT_POINT          97428
PERSON_ID                        0
PERSON_TYPE                      0
VEHICLE_ID                   64444
SEAT_NO                    2504742
SEX                          49851
AGE                         908769
SAFETY_EQUIPMENT              9810
AIRBAG_DEPLOYED              61246
EJECTION                     40387
INJURY_CLASSIFICATION         1611
dtype: int64

In [33]:
df_merge = df_merge.fillna(0)

In [26]:
df_merge.isna().sum().sumdf_merge.info()

<bound method Series.sum of index                      0
CRASH_RECORD_ID            0
POSTED_SPEED_LIMIT         0
WEATHER_CONDITION          0
LIGHTING_CONDITION         0
FIRST_CRASH_TYPE           0
ALIGNMENT                  0
ROADWAY_SURFACE_COND       0
ROAD_DEFECT                0
CRASH_TYPE                 0
DAMAGE                     0
PRIM_CONTRIBUTORY_CAUSE    0
SEC_CONTRIBUTORY_CAUSE     0
NUM_UNITS                  0
MOST_SEVERE_INJURY         0
CRASH_DAY_OF_WEEK          0
UNIT_NO                    0
VEHICLE_TYPE               0
EXCEED_SPEED_LIMIT_I       0
FIRST_CONTACT_POINT        0
PERSON_ID                  0
PERSON_TYPE                0
VEHICLE_ID                 0
SEAT_NO                    0
SEX                        0
AGE                        0
SAFETY_EQUIPMENT           0
AIRBAG_DEPLOYED            0
EJECTION                   0
INJURY_CLASSIFICATION      0
dtype: int64>

In [34]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3147856 entries, 0 to 3147855
Data columns (total 29 columns):
 #   Column                   Dtype
---  ------                   -----
 0   CRASH_RECORD_ID          object
 1   POSTED_SPEED_LIMIT       int64
 2   WEATHER_CONDITION        object
 3   LIGHTING_CONDITION       object
 4   FIRST_CRASH_TYPE         object
 5   ALIGNMENT                object
 6   ROADWAY_SURFACE_COND     object
 7   ROAD_DEFECT              object
 8   CRASH_TYPE               object
 9   DAMAGE                   object
 10  PRIM_CONTRIBUTORY_CAUSE  object
 11  SEC_CONTRIBUTORY_CAUSE   object
 12  NUM_UNITS                int64
 13  MOST_SEVERE_INJURY       object
 14  CRASH_DAY_OF_WEEK        int64
 15  UNIT_NO                  int64
 16  VEHICLE_TYPE             object
 17  EXCEED_SPEED_LIMIT_I     object
 18  FIRST_CONTACT_POINT      object
 19  PERSON_ID                object
 20  PERSON_TYPE              object
 21  VEHICLE_ID               float64
 22  SEAT_NO                  float64
 23  SEX                      object
 24  AGE                      float64
 25  SAFETY_EQUIPMENT         object
 26  AIRBAG_DEPLOYED          object
 27  EJECTION                 object
 28  INJURY_CLASSIFICATION    object
dtypes: float64(3), int64(4), object(22)
memory usage: 720.5+ MB

### Inspecting Values per Column

In [35]:
for col in df_merge.columns:
    try:
        print(col, df_merge[col].value_counts(dropna=False)[:10])
    except:
        print(col, df_merge[col].value_counts())
        # If there aren't 5+ unique values for a column the first print statement
        # will throw an error for an invalid idx slice
    print('\n') # Break up the output between columns

CRASH_RECORD_ID 023f7de8d0f7e90dc072b7b88b62502f306469597481dabc2469aecc67a1026d485ba885476a3ea258a0df3cf6543b77b69cdbfabca44ab64b0fc64c00c808ef    192
c9d233e31a4f2a07733ef75f0404e75c360b30c7ee9bc45076938dc80c375578c1468bc096ecb773d2bfc71270d746d95f416a5bd6b15fbcf8707b1748693722    156
74e9d893f1df817db0fd24a7d10006941f1eda0c9e7a33c62bb2850e5a9560099b88bececab94471325d467f79f04ddf70ad92357f500c1e5765905d95278524    154
09aa8d6e2906482df6717671a532324d3667b00920b363a65face81089921576c5175803211ef1fc902662b7cb7df5e7268ab8491eb4fb4444a888fac30c888a    153
645cdd6fd3ed2f043eefdc48230464a8ad66127691a2a2781240f5c7570ff5a87aaa6cf887bc1f76e93cfcb770359fb8136d59a40d8c18b62133fec286670279    144
1829f52c1281a0396ef94692331b3dc530bc4be5a54cd55e94c24a5e5e49b800fbcf9f24dabe4c8277c8964ad05aadc89e90fd94021959d6dff5fad55480d595    138
7be311dead41c5337cbd12d40bb7be93c505303d6f1cf92e72a2b7c695ae95b472a66d9b3a6b505a0e4c2279d53acf3b6115320fcafb54d8ee1aa3d0c811e3a0    130
31ecf6862c691ff12d3856213b902c146b07337b42a5692e3a176a66d684d221028bb5118ef6d67a313bcaed9e97bee1855cb1f5e8650f49e8dc17663475a1ee    122
7263be3b2bded65fb935c46628eb951fa2be8fa27fc6aa27d008ba17e99bc205e6a3023616216397f886f673d149e2462bc86844ab7ec61b1550cb8fd0b72bdd    120
d3c41d043f9f56c4ab63d2e0e6d229bd1283ffd5e600b0f5518e0493e41415c72b369d05f4bb9804c784b7e5789a3e84ae0d600300234f496a00c0a43a8e8d75    120
Name: CRASH_RECORD_ID, dtype: int64


POSTED_SPEED_LIMIT 30    2399120
35     228359
25     173850
20     104152
15      81728
10      51156
40      36736
0       28162
45      23194
5       14530
Name: POSTED_SPEED_LIMIT, dtype: int64


WEATHER_CONDITION CLEAR                    2514930
RAIN                      287184
UNKNOWN                   114399
SNOW                      107189
CLOUDY/OVERCAST            97657
OTHER                       9992
FREEZING RAIN/DRIZZLE       5588
FOG/SMOKE/HAZE              4779
SLEET/HAIL                  4067
BLOWING SNOW                1551
Name: WEATHER_CONDITION, dtype: int64


LIGHTING_CONDITION DAYLIGHT                  2069295
DARKNESS, LIGHTED ROAD     703643
DARKNESS                   139328
DUSK                        97851
UNKNOWN                     87111
DAWN                        50628
Name: LIGHTING_CONDITION, dtype: int64


FIRST_CRASH_TYPE REAR END                        899865
SIDESWIPE SAME DIRECTION        542990
TURNING                         530856
PARKED MOTOR VEHICLE            428625
ANGLE                           418560
PEDESTRIAN                       73914
SIDESWIPE OPPOSITE DIRECTION     54618
FIXED OBJECT                     49079
PEDALCYCLIST                     45142
HEAD ON                          35751
Name: FIRST_CRASH_TYPE, dtype: int64


ALIGNMENT STRAIGHT AND LEVEL       3069677
STRAIGHT ON GRADE          41450
CURVE, LEVEL               21534
STRAIGHT ON HILLCREST       9527
CURVE ON GRADE              4372
CURVE ON HILLCREST          1296
Name: ALIGNMENT, dtype: int64


ROADWAY_SURFACE_COND DRY                2372795
WET                 440881
UNKNOWN             198209
SNOW OR SLUSH       106565
ICE                  21363
OTHER                 7223
SAND, MUD, DIRT        820
Name: ROADWAY_SURFACE_COND, dtype: int64


ROAD_DEFECT NO DEFECTS           2607444
UNKNOWN               489846
OTHER                  15589
RUT, HOLES             14151
WORN SURFACE           12692
SHOULDER DEFECT         6015
DEBRIS ON ROADWAY       2119
Name: ROAD_DEFECT, dtype: int64


CRASH_TYPE NO INJURY / DRIVE AWAY              2153491
INJURY AND / OR TOW DUE TO CRASH     994365
Name: CRASH_TYPE, dtype: int64


DAMAGE OVER $1,500      1981761
$501 - $1,500     821888
$500 OR LESS      344207
Name: DAMAGE, dtype: int64


PRIM_CONTRIBUTORY_CAUSE UNABLE TO DETERMINE                       1060946
FAILING TO YIELD RIGHT-OF-WAY              399553
FOLLOWING TOO CLOSELY                      375487
FAILING TO REDUCE SPEED TO AVOID CRASH     163974
IMPROPER OVERTAKING/PASSING                162953
NOT APPLICABLE                             140866
IMPROPER LANE USAGE                        122249
IMPROPER TURNING/NO SIGNAL                 115125
IMPROPER BACKING                           109279
DRIVING SKILLS/KNOWLEDGE/EXPERIENCE         88135
Name: PRIM_CONTRIBUTORY_CAUSE, dtype: int64


SEC_CONTRIBUTORY_CAUSE NOT APPLICABLE                            1245322
UNABLE TO DETERMINE                       1081174
FAILING TO REDUCE SPEED TO AVOID CRASH     149999
FAILING TO YIELD RIGHT-OF-WAY              112487
FOLLOWING TOO CLOSELY                      102065
DRIVING SKILLS/KNOWLEDGE/EXPERIENCE        100147
IMPROPER OVERTAKING/PASSING                 52015
IMPROPER LANE USAGE                         48544
WEATHER                                     39828
IMPROPER TURNING/NO SIGNAL                  36179
Name: SEC_CONTRIBUTORY_CAUSE, dtype: int64


NUM_UNITS 2     2637899
3      332967
4       86793
1       47421
5       25533
6        9402
7        3801
8        2136
9         963
10        380
Name: NUM_UNITS, dtype: int64


MOST_SEVERE_INJURY NO INDICATION OF INJURY     2565230
NONINCAPACITATING INJURY     323602
REPORTED, NOT EVIDENT        179199
INCAPACITATING INJURY         74545
FATAL                          5259
0                                21
Name: MOST_SEVERE_INJURY, dtype: int64


CRASH_DAY_OF_WEEK 6    518148
7    481382
5    447013
3    441901
4    441500
2    423836
1    394076
Name: CRASH_DAY_OF_WEEK, dtype: int64


UNIT_NO 1     1511717
2     1459818
3      136683
4       28091
5        7364
6        2423
7         935
8         425
9         173
10         67
Name: UNIT_NO, dtype: int64


VEHICLE_TYPE PASSENGER                      1988387
SPORT UTILITY VEHICLE (SUV)     435447
UNKNOWN/NA                      219134
VAN/MINI-VAN                    155733
PICKUP                           94232
0                                72904
TRUCK - SINGLE UNIT              52355
BUS OVER 15 PASS.                41147
OTHER                            33810
TRACTOR W/ SEMI-TRAILER          24917
Name: VEHICLE_TYPE, dtype: int64


EXCEED_SPEED_LIMIT_I 0    3141736
Y       4565
N       1555
Name: EXCEED_SPEED_LIMIT_I, dtype: int64


FIRST_CONTACT_POINT FRONT                488151
OTHER                405825
REAR-LEFT            359503
REAR                 281774
FRONT-LEFT           224494
TOTAL (ALL AREAS)    214422
UNKNOWN              213617
SIDE-RIGHT           202052
FRONT-RIGHT          198014
SIDE-LEFT            170122
Name: FIRST_CONTACT_POINT, dtype: int64


PERSON_ID O1393599    18
P309855     18
O412495     18
P309914     18
O1393601    18
O1393721    18
O1393602    18
O412496     18
O1393598    18
P309915     18
Name: PERSON_ID, dtype: int64


PERSON_TYPE DRIVER                 2442016
PASSENGER               643114
PEDESTRIAN               37833
BICYCLE                  21440
NON-MOTOR VEHICLE         2762
NON-CONTACT VEHICLE        691
Name: PERSON_TYPE, dtype: int64


VEHICLE_ID 0.0         64444
366311.0      132
332155.0      120
368554.0      108
813017.0      108
            ...
12550.0         2
12549.0         2
12547.0         2
12545.0         2
10.0            2
Name: VEHICLE_ID, Length: 717616, dtype: int64


SEAT_NO 0.0     2504742
3.0      311555
6.0      108846
4.0       86107
5.0       30360
1.0       28074
2.0       26397
12.0      16721
7.0       14530
10.0      14249
Name: SEAT_NO, dtype: int64


SEX M    1629793
F    1189202
X     279010
0      49851
Name: SEX, dtype: int64


AGE 0.0     934882
25.0     63866
27.0     63362
26.0     63184
28.0     61952
         ...
11.0      6899
6.0       6890
9.0       6877
8.0       6851
10.0      6768
Name: AGE, Length: 72, dtype: int64


SAFETY_EQUIPMENT SAFETY BELT USED                              1520478
USAGE UNKNOWN                                 1442046
NONE PRESENT                                    99737
SAFETY BELT NOT USED                            17482
CHILD RESTRAINT USED                            16506
HELMET NOT USED                                 13139
0                                                9810
CHILD RESTRAINT - FORWARD FACING                 7213
BICYCLE HELMET (PEDACYCLIST INVOLVED ONLY)       5042
CHILD RESTRAINT - TYPE UNKNOWN                   3657
Name: SAFETY_EQUIPMENT, dtype: int64


AIRBAG_DEPLOYED DID NOT DEPLOY                            1685431
DEPLOYMENT UNKNOWN                         618589
NOT APPLICABLE                             571726
DEPLOYED, FRONT                            104343
DEPLOYED, COMBINATION                       77003
0                                           61246
DEPLOYED, SIDE                              28010
DEPLOYED OTHER (KNEE, AIR, BELT, ETC.)       1508
Name: AIRBAG_DEPLOYED, dtype: int64

EJECTION NONE                  2916546
UNKNOWN                176748
0                       40387
TOTALLY EJECTED          9851
PARTIALLY EJECTED        2469
TRAPPED/EXTRICATED       1855
Name: EJECTION, dtype: int64


INJURY_CLASSIFICATION NO INDICATION OF INJURY     2866127
NONINCAPACITATING INJURY     158112
REPORTED, NOT EVIDENT         89741
INCAPACITATING INJURY         30424
FATAL                          1841
0                              1611
Name: INJURY_CLASSIFICATION, dtype: int64